<div class=bro>
<hello name="{{ 'welcome to weather application' }}"></hello>
</div>
<link rel= "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

<marquee direction='right'> click somewhere to continue </marquee>
<div class=panel_1>
  <input class="form control" type="text" #userInput placeholder="Enter city name">
   <button class=" btn btn-primary" (click)="getCity(userInput.value)">Search</button>
     </div>

     <div class=panel_2>

       <input class="form control" type="text" #userInput placeholder="Enter city name">
   <button class=" btn btn-primary" (click)="getCity(userInput.value)">Search</button>
     </div>


     <div class=panel_3>
       <input class="form control" type="text" #userInput placeholder="Enter city name">
   <button class=" btn btn-primary" (click)="getCity(userInput.value)">Search</button>
     </div>
     <div class=panel_4>
       <input class="form control" type="text" #userInput placeholder="Enter city name">
   <button class=" btn btn-primary" (click)="getCity(userInput.value)">Search</button>
     </div>


     <div class=panel_5>
       <input class="form control" type="text" #userInput placeholder="Enter city name">
   <button class=" btn btn-primary" (click)="getCity(userInput.value)">Search</button>
     </div>
     <div class=panel_6>
       <input class="form control" type="text " #userInput placeholder="Enter city name">
   <button class=" btn btn-primary" (click)="getCity(userInput.value)">Search</button>
     </div>

     <div class=panel_7>
       <input class="frm control" type="text" #userInput placeholder="Enter city name">
      <button class=" btn btn-primary" (click)="getCity(userInput.value)">Search</button>
     </div>

     <div class=panel_8>
       <input class="form control" type="text " #userInput placeholder="Enter city name">
   <button class=" btn btn-primary" (click)="getCity(userInput.value)">Search</button>
     </div>

     <div class=panel_9>
       <input class="form control" type="text" #userInput placeholder="Enter city name">
   <button class=" btn btn-primary" (click)="getCity(userInput.value)">Search</button>
     </div>
     
